TURSO_DATABASE_URL=libsql://anpmart-turso07.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=your_token_here
JWT_SECRET=your_random_secret_here_at_least_32_chars
ADMIN_DEFAULT_PASSWORD=admin123
NEXT_PUBLIC_APP_NAME=ANP MART
NEXT_PUBLIC_UPI_ID=6363304520@okbizaxis
NEXT_PUBLIC_UPI_PAYEE_NAME=Annapurna Mart
